@font-face {
    font-family: "icons";
    src: url("./icons.ttf?3235bfed7a24c99fd9d02212aa2e85a5") format("truetype"),
url("./icons.woff?3235bfed7a24c99fd9d02212aa2e85a5") format("woff"),
url("./icons.woff2?3235bfed7a24c99fd9d02212aa2e85a5") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-x-lg:before {
    content: "\f101";
}
.icon-wrench-solid:before {
    content: "\f102";
}
.icon-tags-solid:before {
    content: "\f103";
}
.icon-tag-solid:before {
    content: "\f104";
}
.icon-search:before {
    content: "\f105";
}
.icon-question-circle:before {
    content: "\f106";
}
.icon-plus-square:before {
    content: "\f107";
}
.icon-person:before {
    content: "\f108";
}
.icon-person-o:before {
    content: "\f109";
}
.icon-person-circle:before {
    content: "\f10a";
}
.icon-pen-to-square-solid:before {
    content: "\f10b";
}
.icon-more:before {
    content: "\f10c";
}
.icon-magnifying-glass-solid:before {
    content: "\f10d";
}
.icon-location-dot-solid:before {
    content: "\f10e";
}
.icon-list:before {
    content: "\f10f";
}
.icon-link-45deg:before {
    content: "\f110";
}
.icon-layer-group-solid:before {
    content: "\f111";
}
.icon-house-solid:before {
    content: "\f112";
}
.icon-hashtag-solid:before {
    content: "\f113";
}
.icon-handshake-regular:before {
    content: "\f114";
}
.icon-hand-thumbs-up:before {
    content: "\f115";
}
.icon-hand-thumbs-up-fill:before {
    content: "\f116";
}
.icon-hammer-solid:before {
    content: "\f117";
}
.icon-gift-fill:before {
    content: "\f118";
}
.icon-gear-solid:before {
    content: "\f119";
}
.icon-file-import-solid:before {
    content: "\f11a";
}
.icon-eye:before {
    content: "\f11b";
}
.icon-eye-slash:before {
    content: "\f11c";
}
.icon-eye-fill:before {
    content: "\f11d";
}
.icon-exclamation-triangle:before {
    content: "\f11e";
}
.icon-exclamation-circle:before {
    content: "\f11f";
}
.icon-envelope:before {
    content: "\f120";
}
.icon-envelope-fill:before {
    content: "\f121";
}
.icon-dollar-sign-solid:before {
    content: "\f122";
}
.icon-desktop-solid:before {
    content: "\f123";
}
.icon-cubes-solid:before {
    content: "\f124";
}
.icon-cube-solid:before {
    content: "\f125";
}
.icon-cross:before {
    content: "\f126";
}
.icon-content-copy:before {
    content: "\f127";
}
.icon-coin:before {
    content: "\f128";
}
.icon-clock:before {
    content: "\f129";
}
.icon-chevron-up:before {
    content: "\f12a";
}
.icon-chevron-right:before {
    content: "\f12b";
}
.icon-chevron-left:before {
    content: "\f12c";
}
.icon-chevron-down:before {
    content: "\f12d";
}
.icon-check-lg:before {
    content: "\f12e";
}
.icon-check-circle:before {
    content: "\f12f";
}
.icon-chat-text:before {
    content: "\f130";
}
.icon-chart-pie-solid:before {
    content: "\f131";
}
.icon-chart-line-solid:before {
    content: "\f132";
}
.icon-cart-shopping-solid:before {
    content: "\f133";
}
.icon-caret-up-fill:before {
    content: "\f134";
}
.icon-caret-down-fill:before {
    content: "\f135";
}
.icon-building-shield-solid:before {
    content: "\f136";
}
.icon-boxes-packing-solid:before {
    content: "\f137";
}
.icon-box-solid:before {
    content: "\f138";
}
.icon-box-arrow-in-right:before {
    content: "\f139";
}
.icon-box-archive-solid:before {
    content: "\f13a";
}
.icon-bookmark:before {
    content: "\f13b";
}
.icon-bookmark-fill:before {
    content: "\f13c";
}
.icon-arrow-sm:before {
    content: "\f13d";
}
.icon-arrow-left-right:before {
    content: "\f13e";
}
